

@font-face {
  font-family: 'Ringbearer Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Ringbearer Medium'), url(../font/RINGM___.woff) format('woff');
}

#title1 {
  font-family: 'Ringbearer Medium';
  font-weight: normal;
  font-size: 30px;
  color: rgb(97, 165, 253);
  text-align: center;
}

.buttonsWillBeCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.font {
  font-family: 'Ringbearer Medium';
  font-weight: normal;
  font-size: 20px;
  color: rgb(144, 149, 153);
}

.mainMenu {
  text-align: center;
}

/* #titleSub1 {
  font-size: 60px;
  color: #924540;
}

#titleSub2 {
  font-size: 25px;
  color: #526474;
}

#titleSub3 {
  font-size: 30px;
  color: #b9d1e6;
} */

.button {
  width: 300px;
  height: 60px;
  font-family: 'Ringbearer Medium';
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bolder;
  color: rgb(133, 168, 236);
  background-color: rgba(49, 49, 49, 0.767);
  margin: 10px;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #4e130f;
  box-shadow: 0px 15px 20px rgb(61, 63, 87);
  color: rgb(74, 128, 72);
  transform: translateY(-7px);
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
      width:100%;
      height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video { 
      width:auto;
      height: 100%;
  }
}
/* CREDITS STUFF */

#creditsDisplay {
  display: none;
}

#controlsDisplay {
  display: none;
}

#test {
  align-self: center;
}


.scroll-up {
 height: 800px;
 overflow: hidden;
 position: relative;
 font-size: 40px;
 /* background: yellow; */
 color: white;
 /* border: 1px solid orange; */
}

body {
  background-color: black;
}

.scroll-up p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateY(100%);
 -webkit-transform:translateY(100%);	
 transform:translateY(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-up 30s linear infinite;
 -webkit-animation: scroll-up 30s linear infinite;
 animation: scroll-up 30s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-up {
 0%   { -moz-transform: translateY(100%); }
 100% { -moz-transform: translateY(-100%); }
}
@-webkit-keyframes scroll-up {
 0%   { -webkit-transform: translateY(100%); }
 100% { -webkit-transform: translateY(-100%); }
}
@keyframes scroll-up {
 0%   { 
 -moz-transform: translateY(100%); /* Browser bug fix */
 -webkit-transform: translateY(100%); /* Browser bug fix */
 transform: translateY(100%); 		
 }
 100% { 
 -moz-transform: translateY(-100%); /* Browser bug fix */
 -webkit-transform: translateY(-100%); /* Browser bug fix */
 transform: translateY(-100%); 
 }
}

body {
  margin: 0;
  padding: 0;
}

canvas {
  display: none;
  margin: auto;
}

.creditsTitles {
  font-size: 60px;
  font-weight: bolder;
  padding-bottom: 20px;
}

br {
  margin: 10px;
}

#controlsList1 {
  text-align: center;
  color: rgb(209, 62, 57);
  font-family: 'Ringbearer Medium';
  font-size: 50px;
}

#controlsList2 {
  text-align: center;
  color: rgb(209, 62, 57);
  font-family: 'Ringbearer Medium';
  font-size: 50px;
}

#controlsList3 {
  text-align: center;
  color: rgb(55, 201, 164);
  font-size: 50px;
  font-family: 'Ringbearer Medium';
  margin-right: 35px;
}

#controlsList4 {
  text-align: center;
  color: rgb(79, 0, 170);
  font-family: 'Ringbearer Medium';
  font-size: 50px;
}

#controlLeft {
  text-align: center;
  color: white;
  font-family: 'Ringbearer Medium';
  font-size: 40px;
  margin-top: 5px;
}

#controlRight {
  text-align: center;
  color: white;
  font-family: 'Ringbearer Medium';
  font-size: 40px;
  margin-top: 34px;
}

#controlJump {
  text-align: center;
  color: white;
  font-family: 'Ringbearer Medium';
  font-size: 40px;
  margin-top: 35px;
}

#controlAttack {
  text-align: center;
  color: white;
  font-family: 'Ringbearer Medium';
  font-size: 40px;
  margin-top: 30px;
}