@font-face {
  font-family: 'Ringbearer Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Ringbearer Medium'), url(../font/RINGM___.woff) format('woff');
}

#title1 {
  font-family: 'Ringbearer Medium';
  font-weight: normal;
  font-size: 42px;
  color: rgb(94, 82, 116);
  text-align: center
}

.font {
  font-family: 'Ringbearer Medium';
  font-weight: normal;
  font-size: 20px;
  color: rgb(144, 149, 153);
}

.mainMenu {
  text-align: center;
}

#sideColumnL {
  font-family: 'Ringbearer Medium';
  font-weight: normal;
  font-size: 40px;
  color: white;
}

#sideColumnR {
  font-family: 'Ringbearer Medium';
  font-weight: normal;
  font-size: 40px;
  color: white;
}


.button {
  width: 300px;
  height: 60px;
  font-family: 'Ringbearer Medium';
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bolder;
  color: rgb(133, 168, 236);
  background-color: rgba(49, 49, 49, 0.767);
  margin: 10px;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #4e130f;
  box-shadow: 0px 15px 20px rgb(61, 63, 87);
  color: rgb(74, 128, 72);
  transform: translateY(-7px);
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
      width:100%;
      height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video { 
      width:auto;
      height: 100%;
  }
}